/* Light Theme */
body.light-theme {
  background-color: #f3f4f6;
  color: #333;
}

body.light-theme .container {
  background-color: white;
  width: 100%; /* Đảm bảo container chiếm toàn bộ chiều rộng */
}

body.light-theme .main-content-chuyendoi {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Đảm bảo main-content chiếm toàn bộ chiều rộng của container */
}

body.light-theme .content-chuyendoi {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Đảm bảo content chiếm toàn bộ chiều rộng */
}

body.light-theme h1 {
  color: #333;
}

body.light-theme button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

body.light-theme button:hover {
  background-color: #0056b3;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: #fff;
}

body.dark-theme .container {
  background-color: #333;
  width: 100%; /* Đảm bảo container chiếm toàn bộ chiều rộng */
}

body.dark-theme .main-content-chuyendoi {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Đảm bảo main-content chiếm toàn bộ chiều rộng */
}

body.dark-theme .content-chuyendoi {
  background-color: #555;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  width: 100%; /* Đảm bảo content chiếm toàn bộ chiều rộng */
}

body.dark-theme h1 {
  color: #fff;
}

body.dark-theme button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

body.dark-theme button:hover {
  background-color: #218838;
}
